// Sizes
$content-padding: 20px;
$content-max-width: 390px - ($content-padding * 2);

// Colors
$blue: #342b50;
$light-green: #00a38f;
$dark-green: #1b8381;
$light-gray: #d7d8d8;
$dark-gray: #6b6c72;
$white: #fff;
$black: #000;

// Typography
$root: 18px;
