// Sizes
$max-width: 390px;
$padding: 20px;
$resize-ratio: 0.5;

// Colors
$blue: #342b50;
$light-green: #eefffd;
$dark-green: #1b8381;
$light-gray: #8d9096;
$dark-gray: #6b6c72;
$white: #fff;
$black: #393a3d;
