.card {
  @include rows();
  width: 100%;
  box-shadow: 0 5px 5px rgba($color: $black, $alpha: 0.2);
  margin: 0 auto;
  border-radius: 10px;
  background-color: $white;

  a {
    flex: 1;
    padding: 0 20px;

    div {
      padding: 20px 0;
    }

    &:not(:last-child) {
      div {
        border-bottom: solid 1px $light-gray;
      }
    }
  }
}
